/*
 * Colorscheme: ashes.dark
 * Photo Credit: kidchan (DA)
 */

body {
  height: 100%;
  background-color: #1c2023;
  color: #c7ccd1;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

#image{
  display: block;
  height: 300px;
  margin: 0 auto;
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: #95aec7;
}