/*
 * Colorscheme: ashes.dark
 * Photo Credit: kidchan (DA)
 */

body {
  height: 100%;
  background-color: #1c2023;
  color: #c7ccd1;
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  padding-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

#image{
  display: block;
  width: 400px;
  margin: 0 auto;
  padding-top: 30px;
}

#search {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

#field {
  width: 390px;
  background-color: #1c2023;
  border: 2px solid #95aec7;
  padding: 5px;
  color: #c7ccd1;
  outline: none;
}

a {
  text-decoration: none;
  color: #95aec7;
}

#code {
  padding-right: 15px;
}

#learn {
  padding-right: 15px;
}

#reddit {
  padding-right: 15px;
}